{% extends 'base_restaurateur_page.html' %}

{% load admin_urls %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус заказа</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.get_status_display }}</td>
        <td>{{ item.get_payment_method_display }}</td>
        <th>{{ item.total_cost }}</th>
        <td>{{ item.firstname }} {{ item.lastname }}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.comment }}</td>
        <td>
          {% if not item.restaurant %}
            <details>
              <summary><b>Подходящие рестораны:</b></summary>
              <ul>
                {% for restaurant in item.restaurants %}
                  <li>{{ restaurant }}</li>
                {% endfor %}
              </ul>
            </details>
          {% else %}
            <b>Готовит:</b>
            <br>
            {{ item.restaurant }}
          {% endif %}
        </td>
        <td>
          <a href="{% url 'admin:foodcartapp_order_change' item.pk %}?next={{ path|urlencode:'' }}">
            Редактировать
          </a>
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
